@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #3490dc;
    --color-secondary: #f51e02;
    --font-main: "Monospace";
}

.notification-pop {
    background-color: rgb(83, 244, 83);
}

body {
    /* font-family: var(--font-main); */
}
