@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #f8fbfe; /* gives 60% */
    --color-secondary: #64748b; /* gives 30% */
    --color-accent: #ac58f5; /* gives 10% */
    --color-quaternary: #0f172a;
    --color-quinary: #222c42;
    --color-senary: #b1bed1;
    --font-main: "Monospace";
}

.notification-pop {
    background-color: rgb(83, 244, 83);
}

body {
    background-color: var(--color-primary);
    font-family: "Merriweather";
}
